<%#
  Back Link component - navigational link with arrow icon

  Required:
    href: URL to link to
    text: Link text (default: "Back")

  Options:
    icon_size: Size of the arrow icon (default: 20)

  Examples:
    render "components/back_link", href: tools_path
    render "components/back_link", href: folder_path(@folder), text: "Back to folder"
%>
<%= link_to href, class: "inline-flex items-center gap-2 text-text-secondary text-sm hover:text-accent transition-colors" do %>
  <%= render "shared/icon", name: "arrow-left", size: local_assigns.fetch(:icon_size, 20) %>
  <span><%= local_assigns.fetch(:text, "Back") %></span>
<% end %>
