<% content_for :title, "Edit Event - #{@tool.name} - #{app_name}" %>
<% content_for :page_title, "Edit Event" %>

<%= turbo_frame_tag "event_modal_content" do %>
  <div class="event-edit-form">
    <h3 class="text-lg font-semibold text-text-primary mb-4">Edit Event</h3>
    <%= render "tools/calendars/events/form",
        event: @event,
        calendars: @calendars,
        tool: @tool,
        modal_id: "event-details-modal" %>
  </div>
<% end %>
