<% content_for :title, "New Event - #{@tool.name} - #{app_name}" %>
<% content_for :page_title, "New Event" %>

<div class="p-6">
  <div class="max-w-2xl">
    <div class="card">
      <div class="card-header">
        <h2 class="text-lg font-semibold">Create new event</h2>
      </div>
      <div class="card-body">
        <%= render "tools/calendars/events/form",
            event: @event,
            calendars: @calendars,
            tool: @tool %>
      </div>
    </div>
  </div>
</div>
